[submodule "src/acsl_flight/include/utils/eigen"]
	path = src/acsl_flight/include/utils/eigen
	url = https://gitlab.com/libeigen/eigen.git
	branch = 3.4
[submodule "src/acsl_flight/include/utils/json"]
	path = src/acsl_flight/include/utils/json
	url = https://github.com/nlohmann/json.git
